button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
}

#mapDiv {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0px;
}

div {
    text-align: center;
}